.material-icons-outlined.md-48 { font-size: 48px; vertical-align: middle;}
.material-icons.md-48 {font-size: 48px; vertical-align: middle;}
/* .createNew a:link a:visited a:hover {color: black;} */
.appMainLogo {width: 80px; height: 80px;}
.bodySection {border-style: solid; border-color: black; height: 700px;}